
body {
  padding: 0px;
  margin: 0px;
  width: 100vh;
  height: 100vh;
  color: rgb(255, 255, 255);
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; */
}

div{
  z-index:0;
}

canvas{
  padding: 0px;
  margin: 0px;
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
}

/*Agartha*/

.a-title .a-bulletpoints{
    font-family: Arial, Helvetica, sans-serif;
}

.a-title{
    font-weight: bold;
    font-size:2.5rem;
}

.a-subtitle{
    font-family: 'Amiri', serif;
    font-size:1.5rem;
}

.a-frontpage{
    max-width: 72em;
}



/* canvas { width: 100px; height: 200px; display: block; background: aqua} */


/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

/* .cover-container {
  
} */


/*
 * Header
 */

/* .nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
} */

/* .nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;d
  border-bottom-color: #fff;
} */
