body {
  padding: 0px;
  margin: 0px;
  width: 100vh;
  height: auto;
  position: absolute;
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; */
}

div{
  z-index:0;
}

/* 
@media (min-aspect-ratio: 16/9){
  #myVideo {
    width: 100vw;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  #myVideo{
    width: auto;
    height: 100%;
  }
} */


#myVideo{
  object-fit: cover;
  position: absolute;
  z-index:-1;
  /* right: 0; */
  /* min-width: 100%;
  min-height: 100%; */
  height: 100vh;
  width: 100vw;
  top:0;
  left:0;
  /* margin: 0;
  padding: 0;
  bottom: -1; */
}

#cover-container{
  position: relative;
  height: 200vh;
}

#myCanvas{
  padding: 0px;
  margin: 0px;
  position:absolute;
  left:0;
  top: 100vh;
  z-index:-1;
}

#a-page0{
  height: 50%;
  max-width: 80em;
  text-shadow: 3px 3px 5px rgba(51, 51, 51, 0.658);
}

#a-page1{
  height: 50%;
  top: 100vh;
  font-size:1.5rem;
  max-width: 50em;
}

ul{
  list-style-type: none;
}

/*Agartha*/

.a-maintext{
  color: rgb(255, 255, 255);
}

.a-fixedtext{
  color: rgb(167, 167, 167);
}

.myHeader{

}

.myFooter{

}

.a-title{
    font-weight: bold;
    font-size:5.5rem;
}

.a-subtitle{
    font-size:2rem;
}

.serif-font{
  font-family: 'Amiri', serif;
}

.sansserif-font{
  font-family: Arial, Helvetica, sans-serif;
}

.half-width{
  height: 50%;
}

.a-bulletpoints{
  margin-bottom: 0;
  margin-top: auto;
}

.a-invitebutton{
  margin-top: auto;
  margin-botttom: 0;
}

/* canvas { width: 100px; height: 200px; display: block; background: aqua} */


/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

/* .cover-container {
  
} */


/*
 * Header
 */

/* .nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
} */

/* .nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;d
  border-bottom-color: #fff;
} */
