body {
    padding: 0;
    margin: 0;
    color: #242424;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Chillax";
    font-weight: 400;
}

@font-face {
  font-family: "Chillax";
  src: url("./fonts/Chillax-Variable.ttf");
}

a:visited{
  color:rgb(82, 82, 82);
}

a{
  color: #ff00d4;
}

/* button{
    border-style: none;
    background: none;
    font-size: 2rem;

} */
  
button:hover{
  cursor: pointer;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    /* font-family: "Courier New", monospace; */
  }

  .titleElement{
    max-width: 90vw;
  }

.titleElementButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.titleElementDescription{
    font-size: 1.5rem;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.showItem{
  display: none;
  align-items: bottom;
  position:absolute;
  bottom: 1.5rem;
}

/* .buttonAgartha{
  background-color: #FFDDED;
} */

/* .buttonAgartha:hover{
  background-color: #6BFFB2;
} */

.buttonTrait{
    margin: 0.5vw;
    /* background-color: #FFDDED; */
    overflow-wrap: normal;
    font-size: 1.5rem;
    /* font-weight: 300; */
    cursor: pointer;
}

.buttonLinks{
  margin: 0.5vw;
  /* background-color: #FFDDED; */
  overflow-wrap: normal;
  font-size: 1.5rem;
  /* font-weight: 400; */
  cursor: pointer;
}

/* .buttonTrait:hover{
  background-color: #6BFFB2;
} */

/* .buttonLinks{
  margin: 0.5vw;
  background-color: #f9ffbc;
  overflow-wrap: normal;
} */

/* .buttonLinks:hover{
  background-color: #6BFFB2;
} */

/* .hoverColor:hover{
  background-color: #6BFFB2;
} */

/* .emailLink{
  margin: 0.5vw;
  background-color: #bcffe4;
  overflow-wrap: normal;
} */

.pfp{
  width: auto;
  height: 18vh;
  margin-bottom: 3rem;
}

  /* .showOnHover{
    display: none;
  }

  .buttonDAO:hover + .showOnHover{
    display: block;
    color: red;
  } */